.header_box {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box {
    margin: 0 auto;

}

.header_text {
    margin: 0;
    font-size: 21px;
    font-weight: 100;
    line-height:16px;
}