.header_box {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.t3 {
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
}

.t3:hover {
    transform: rotate(360deg);
}

.header_text {
    margin: 0;
    font-size: 21px;
    font-weight: 100;
    line-height:16px;
}