.header_box {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    justify-content: space-between;
}

.header_text {
    color: white;
    font-size: 16px;
    font-weight: 500;
}