$primary-color: rgb(249, 137, 0);
$secondary-color: rgb(58, 57, 57);

$background-color: rgb(22, 10, 0);

// Date and Textbox Related

.no_box {
    border: none;
    background: none;
    outline: none;
    color: white;
    width: 100%;
}





.white {
    color: white;
}

.body {
    height: 100%;
    min-height: 200px;
    justify-content: center;
    padding: calc(10% + 10px) calc(10% + 3px);
    background-color: rgb(22, 10, 0);
    display: grid;
    grid-template-rows: calc(70% - 6px) calc(30% - 6px);
    grid-template-columns: calc(100% - 12px);
    gap: 10px;

    > div {  // First level boxes
        z-index: 10;
        border-radius: 10px;
        transition: border-color 0.3s ease;
        display: grid;
        gap: 10px;

        &.ratio70_30columns {
            grid-template-columns: calc(70% - 5px) calc(30% - 5px);
        }

        &.ratio100columns {
            grid-template-columns: calc(100%);
        }
    
        > div {  // Second level boxes (innermost)
            min-height: 70px;
            height: 100%;
            color: rgb(222, 222, 222);
            border-radius: 10px;
            border: 2px solid $secondary-color;
            transition: border-color 0.3s ease;
            padding: 0 5px;

            &:hover {
            border-color: $primary-color;
            
                > .box_title {
                    color: $primary-color;
                }
            }

            > div {  // Scrollbar
                margin: 0px;
                padding: 0px;
                overflow-y: auto;
                max-height: calc(100% - 31px);
                height: 100%;

                &::-webkit-scrollbar {
                    width: 4px;
                }
                
                &::-webkit-scrollbar-track {
                    background: $secondary-color;
                    border-radius: 2px;
                    margin-top: -2px;
                    margin-bottom: 6px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: $primary-color;
                    border-radius: 2px;
                    margin-bottom: 6px;
                    margin-top: 2px;
                }
            }
        }
    }
}

.box_title {
    color: rgb(100, 100, 100);
    border-bottom: 2px solid $secondary-color;
    border-radius: 2px;
    position: relative;
    top: 0;
    left: 0;
    margin: 9px 9px 0px 4px;  // increased bottom margin from 0 to 5px
    padding-bottom: 5px;        // added padding-bottom
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5px;
    transition: color 0.3s ease;
}



/* SLIDER */

// Switch size variables
$switch-width: 40px;
$switch-height: 20px;
$slider-circle-size: 12px;
$slider-circle-margin: 4px;

.switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-height;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: $primary-color;
        }

        &:checked + .slider:before {
            transform: translateX($slider-circle-size + $slider-circle-margin * 2);
        }
    }
}